@import '../../styles/colors.scss';
.header {
    display: flex;
    flex-direction: column;
    border-top: 10px solid $primaryDark;
    background-color: $primary;
    align-items: center;


    .image {
        width: 70px;
        height: 70px;
        margin-top: 40px;
        border-radius: 50%;
    }

    h1 {
        color: $white;
        margin: 16px 0px 40px;
    }
}